/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap");

/*==================== VARIABLES CSS ====================*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --bs-gray-100: #fefefe;
  --bs-gray-200: #f6f7f9;
  --bs-gray-300: #cacaca;
  --bs-gray-400: #aab0bc;
  --bs-gray-500: #959ca9;
  --bs-gray-600: #60697b;
  --bs-gray-700: #2f353a;
  --bs-gray-800: #21262c;
  --bs-gray-900: #1e2228;
  --bs-blue: #3f78e0;
  --bs-light-blue: #e0e9fa;
  --bs-soft-blue: #f1f5fd;
  --bs-sky: #5eb9f0;
  --bs-green: #45c4a0;
  --bs-leaf: #7cb798;
  --bs-aqua: #54a8c7;
  --bs-navy: #343f52;
  --bs-white: #fff;
  --bs-light: #fefefe;
  --bs-gray: #f6f7f9;
  --bs-dark: #262b32;
  --bs-primary: #3f78e0;
  --bs-secondary: #aab0bc;

  /*========== Font and typography ==========*/
  --body-font: "Manrope", sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --fs-hero: 2.25rem;
  --fs-large: 1.75rem;
  --fs-h1: 1.5rem;
  --fs-h2: 1.25rem;
  --fs-h3: 1.125rem;
  --fs-h4: 1rem;
  --fs-h5: 0.938rem;
  --fs-h6: 0.813rem;
  --fs-small: 0.75rem;

  /*========== Font weight ==========*/
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  /*========== Margin ==========*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --m-0-25: 0.25rem;
  --m-0-5: 0.5rem;
  --m-0-75: 0.75rem;
  --m-1: 1rem;
  --m-1-5: 1.5rem;
  --m-2: 2rem;
  --m-2-5: 2.5rem;
  --m-3: 3rem;
  --m-4: 4rem;
  --m-5: 5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
  :root {
    --fs-hero: 4rem;
    --fs-large: 3rem;
    --fs-h1: 2.25rem;
    --fs-h2: 1.5rem;
    --fs-h3: 1.25rem;
    --fs-h4: 1rem;
    --fs-h5: 0.875rem;
    --fs-h6: 0.813rem;
  }
}

/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--body-font);
  font-size: var(--fs-h4);
  font-weight: var(--fw-400);
  background-color: var(--bs-gray-100);
  color: var(--bs-gray-600);
  line-height: 1.7;
  word-spacing: 0.1rem;
}

header {
  position: relative;
  background-color: var(--bs-soft-blue);
}

h1 {
  font-size: var(--fs-hero);
}

h2 {
  font-size: var(--fs-large);
}

h3 {
  font-size: var(--fs-h1);
}

h4 {
  font-size: var(--fs-h3);
  line-height: 1.45;
}

h1,
h2,
h3,
h4 {
  color: var(--bs-navy);
  font-weight: var(--fw-600);
}

p {
  margin-bottom: var(--m-1-5);
}

ul {
  list-style: none;
}

a {
  color: var(--bs-blue);
  text-decoration: none;
}

button {
  background: transparent;
  border: none;
}

img {
  max-width: 100%;
  height: auto;
}

*:focus {
  outline: none;
}

label {
  display: inline-block;
}

textarea {
  margin: 0;
  font-family: inherit;
  resize: vertical;
}

blockquote {
  margin-top: var(--m-2-5);
  margin-bottom: var(--m-2-5);
  border-left: 0.2rem solid #3f78e0;
  padding-left: 1.25rem;
}

blockquote p {
  font-size: var(--fs-h2);
  font-weight: var(--fw-400);
  line-height: 1.7;
}

blockquote footer {
  font-weight: var(--fw-600);
  margin-top: 0;
  margin-bottom: var(--m-1);
  font-size: var(--fs-h6);
  color: var(--bs-gray-400);
  letter-spacing: 0.02rem;
  text-transform: uppercase; 
}
blockquote footer::before {
  content: "\2014\a0"
}

address {
  font-style: normal;
}

/*==================== LAYOUT ====================*/
.section {
  scroll-margin-top: 9.5rem;
  padding: 0 0 1rem 0;
}

.container {
  max-width: 1260px;
  margin-top: var(--m-2-5);
  margin-bottom: var(--m-2-5);
  margin-left: var(--m-1-5);
  margin-right: var(--m-1-5);
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.underline {
  --c: var(--bs-light-blue); 
  --r: 12px;
  background: 
    radial-gradient(farthest-side,var(--c) 98%,#0000) bottom left,
    linear-gradient(var(--c) 0 0) bottom,
    radial-gradient(farthest-side,var(--c) 98%,#0000) bottom right;
  background-size:var(--r) var(--r),calc(100% - var(--r)) var(--r);
  background-repeat:no-repeat;
  padding: 0 0.1rem;
  display: inline;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

/*==================== PAGE LOADER ====================*/
.page-loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--bs-gray-100);
  z-index: var(--z-modal);
  transition: 0.75s all;
}

.page-loader.done {
  visibility: hidden;
  opacity: 0;
}

.page-loader:before {
position: absolute;
content: "";
top: 50%;
left: 50%;
width: 2.5rem;
height: 2.5rem;
margin-top: -1.25rem;
margin-left: -1.25rem;
background: none;
border: 4px solid #3f78e0;
box-shadow: none;
border-radius: 50%;
-webkit-animation: loader-scale 1s ease-out infinite;
animation: loader-scale 1s ease-out infinite;
}

@-webkit-keyframes loader-scale {
  0% {
      transform: scale(0);
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
  100% {
      transform: scale(1);
      opacity: 0;
  }
}
  
@keyframes loader-scale {
  0% {
      transform: scale(0);
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
  100% {
      transform: scale(1);
      opacity: 0;
  }
}

/*==================== LAYOUT ====================*/


/*==================== BUTTONS ====================*/
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  padding: 0.8rem 2rem;
  font-size: var(--fs-h3);
  font-weight: var(--fw-400);
  border-radius: 50rem;
  transition: all 0.2s ease;
  box-shadow: none;
}

/*==================== NAVBAR ====================*/
.navbar__mobile-checkbox {
  display: none;
  width: 100%;
  z-index: var(--z-fixed);
}

.navbar__mobile-label {
  position: fixed;
  width: 100%;
  z-index: var(--z-fixed);
}
.navbar__mobile-label::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  transform-origin: 50% 50%;
  transform: scale(1.3);
  opacity: 1;
  transition: all 300ms linear;
}

.navbar__mobile-checkbox:checked + .navbar__mobile-label::before {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  transform: scale(1);
  opacity: 1;
  transition: all 300ms linear;
}

.navbar__mobile-checkbox:checked + .navbar__mobile-label ~ aside {
  transform: translateX(0%);
}

.navbar__mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: rgba(255, 255, 255, 0.97);
  box-shadow: 0rem 0rem 1.25rem rgba(30, 34, 40, 0.06);
  padding: 1.5rem 2rem 1.5rem 2rem;
}

.navbar__phone-button {
  display: none;
}

.navbar__phone-button a {
  margin-left: 20rem;
  background-color: var(--bs-blue);
  color: var(--bs-white);
  font-family: var(--body-font);
}

aside {
  position: fixed;
  width: 15rem;
  max-width: 100%;
  height: 100%;
  z-index: var(--z-modal);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  background-color: var(--bs-gray-900);
  color: var(--bs-white);
  transition: all 300ms;
  transform: translateX(-100%);
}

.navbar__offcanvas-header {
  display: flex; 
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
}

.navbar__offcanvas-header h3 {
  color: var(--bs-white);
  font-size: 1.75rem;
  line-height: 1.3;
}

.navbar__offcanvas-body {
  overflow-y: unset;
  display: flex;
  flex-grow: 0;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
}

.navbar__offcanvas-nav {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.navbar__offcanvas-item {
  margin: 0.5rem 0;
}

.navbar__offcanvas-item a {
  color: var(--bs-white);
  font-weight: var(--fw-400);
}

.navbar__offbody-footer {
  display: flex;
  flex-shrink: 0;
  margin-top: auto;
  margin-bottom: 2rem;
}

.navbar__offbody-footer a {
  color: var(--bs-white);
  font-size: var(--fs-h2);
  font-weight: var(--fw-600);
}

/*==================== HOME ====================*/
.home__background-img {
  height: 560px !important;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("/assets/img/photos/plumbing-hero-blueprint-640w.JPG");
}

.home__overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(30, 34, 40, 0.7);
  padding-top: 7rem;
}

.home__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 1rem;
}

.home__title {
  margin-bottom: var(--m-1);
  text-align: center;
  font-weight: var(--fw-500);
  line-height: 1.2;
  color: var(--bs-white);
}

.home__subheading {
  text-align: center;
  margin-bottom: var(--m-2);
  padding: 0 0.5rem;
  font-size: var(--fs-h1);
  font-weight: var(--fw-300);
  line-height: 1.5;
  color: var(--bs-white);
}

.home__button {
  text-align: center;
}

.home__button a {
  margin-bottom: var(--m-0-5);
  color: var(--bs-white);
  border: 2px solid var(--bs-white);
  background-color: transparent;
}
.home__button a:hover {
  font-weight: var(--fw-600);
  color: var(--bs-navy);
  background-color: var(--bs-white);
}

.slide-down {
  transform: translateY(-100%);
	opacity: 0;
	animation: slide-in-down 1.5s ease forwards;
}

@keyframes slide-in-down {
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}

.slide-left {
  width: 100%;
	transform: translateX(-200%);
	opacity: 0;
	animation: slide-in-left 2.5s ease forwards;
}

@keyframes slide-in-left {
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		transform: translateX(0%);
	}
}

.slide-up {
  transform: translateY(400%);
	opacity: 0;
	animation: slide-in-up 3s ease forwards;
}

@keyframes slide-in-up {
	70% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}

/*==================== ABOUT ====================*/
.about__icon {
  margin-bottom: var(--m-0-5);
}

.about__title {
  margin-bottom: var(--m-0-5);
}

.about__subheading {
  font-size: var(--fs-h2);
  line-height: 1.6;
}

.about__flex {
  display: flex;
  flex-direction: row;
}

.about__flex-child {
  width: 100%;
}

.about__bullet {
  flex-shrink: 7;
  margin-top: 0.1rem;
}

.about__img-container {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  padding: 0 0.75rem;
  margin-top: 2.5rem;
}

.about__dots {
  display: none;
  position: absolute;
  top: 4.6rem;
  left: 5.9rem;
  z-index: 1;
  height: 12rem;
  width: 9rem;
  background-size: 1rem 1rem;
  background-image: radial-gradient(#3f78e0 2px, transparent 2.5px);
  opacity: 0.5;
}

.about__overlap-images {
  display: flex;
  flex-wrap: wrap;
}

.about__img img {
  vertical-align: middle;
  width: 100%;
  max-width: 100%;
  height: auto !important;
  margin-bottom: var(--m-1-5);
  border-radius: 0.4rem;
  box-shadow: 0rem 0rem 1.25rem rgba(30, 34, 40, 0.04) !important;
}

.about__img-1 {
  display: none;
  z-index: 3;
  width: 70%;
  margin-top: 0;
  margin-left: 30%;
}

.about__img-2 {
  z-index: 4;
  width: 100%;
  margin-left: 0;
}

/*==================== SERVICES ====================*/
.services__column {
  width: 100%;
  padding: 0;
}

.services__title {
  margin-bottom: var(--m-0-75);
  text-align: center;
  font-size: var(--fs-h5);
  line-height: 1.35;
  letter-spacing: 0.02rem;
  color: var(--bs-gray-400);
  text-transform: uppercase; 
}

.services__subtitle {
  margin-bottom: var(--m-2-5);
  text-align: center;
  line-height: 1.3;
  font-size: var(--fs-large);
}

.services__flex {
  display: flex;
  flex-direction: row;
  column-gap: 0.75rem;
}

.services__flex-child {
  width: 100%;
}

.services__icon {
  flex-shrink: 4;
  margin-top: 0.1rem;
  text-align: center;
}

.services__text {
  margin-bottom: var(--m-1);
}

.services__text h4 {
  margin-bottom: var(--m-0-5);
  font-size: var(--fs-h2);
}

/*==================== PROCESS ====================*/
.process__column {
  width: 100%;
  padding: 0;
}

.process__title {
  margin-bottom: var(--m-0-5);
}

.process__subheading {
  margin-bottom: var(--m-2);
  font-size: var(--fs-h2);
  font-weight: var(--fw-400);
}

.process__circle {
  position: relative;
  width: 4rem;
  height: 4rem;
  font-size: var(--fs-h1);
  font-weight: var(--fw-600);
  line-height: 1;
  color: var(--bs-blue);
  margin-bottom: var(--m-1);
  padding: 0;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  backface-visibility: hidden;
  background-color: var(--bs-light-blue);
  border-color: transparent;
}
.process__circle:hover {
  background-color: var(--bs-blue);
  color: var(--bs-light);
}

.process__subtitle {
  margin-bottom: 0.25rem;
}

.process__text {
  margin-bottom: var(--m-1-5);
}

/*==================== FAQ ====================*/
.faq__title {
  margin-bottom: var(--m-1);
  text-align: center;
  line-height: 1.3;
}

.faq__subheading {
  margin-bottom: var(--m-2-5);
  text-align: center;
  font-size: var(--fs-h3);
}

.faq__accordion-wrapper {
  margin-bottom: var(--m-1-5);
  padding: 1rem 1rem 0 1rem;
  border-radius: 0.4rem;
  box-shadow: 0 0 0 0.05rem rgba(8, 60, 130, 0.06), 0rem 0rem 1.25rem rgba(30, 34, 40, 0.04);
}

.faq__accordion-checkbox {
  display: none;
}

.faq__accordion-label {
  display: block;    
  cursor: pointer;
  width: 100%;
  max-height: 100vh;
  padding-left: 1rem;
  margin: 0;
  border: 0;
  font-size: var(--fs-h3);
  font-weight: var(--fw-600);
  color: var(--bs-navy);
  transition: all 300ms ease-in-out;
  background: none;
}

.faq__accordion-label:before {
  content: '>';
  position: absolute;
  left: 2.5rem;
  color: var(--bs-blue);
  transform: rotate(90deg);
  transition: transform 300ms;
}

.faq__accordion-label:hover {
  color: var(--bs-blue);
}

.faq__accordion-text {
  max-height: 0vh;
  transition: all 700ms ease-in-out;
  overflow: hidden;
  padding: 1rem 1rem 0 1rem;
}

.faq__accordion-checkbox:checked ~ .faq__accordion-text {
  max-height: 100vh;
}

.faq__accordion-checkbox:checked ~ .faq__accordion-label::before {
  transition: all 300ms ease-in-out;
  transform: rotate(270deg);
}

/*==================== BLOG ====================*/
.blog {
  background-color: var(--bs-white);
  border-radius: 0.5rem;
  box-shadow: 0 0 0 0.05rem rgba(8, 60, 130, 0.06), 0rem 0rem 1.25rem rgba(30, 34, 40, 0.04);
  border: 0;
  padding: 2rem;
}

.blog h2 {
  margin-bottom: var(--m-1-5);
  line-height: 1.3;
}

.blog h3 {
  margin-bottom: var(--m-1-5);
  line-height: 1.3;
}

.blog p {
  margin-top: var(--m-1-5);
}

.blog__img {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin-top: var(--m-1-5);
  border-radius: 0.4rem;
}

.blog__img-hidden {
  display: none;
}

/*==================== CONTACT ====================*/

.contact__card {
  background-color: var(--bs-soft-blue);
  border-radius: 0.5rem;
  padding: 2rem;
}

.contact__icon {
  margin-bottom: var(--m-0-75);
}

.contact__title {
  margin-bottom: var(--m-0-75);
}

.contact__text {
  font-size: var(--fs-h3);
  margin-bottom: var(--m-2);
}

.contact__form-field {
  position: relative;
  margin-bottom: var(--m-1);
}

.contact__form-field input {
  height: 3rem;
}

.contact__form-field textarea {
  height: 9rem;
}

.contact__form-field input,
.contact__form-field textarea {
  display: block;
  width: 100%;
  padding: 1.25rem 1rem 0.6rem;
  font-size: var(--fs-h3);
  font-weight: var(--fw-500);
  line-height: 1.25;
  color: var(--bs-gray-600);
  background-color: var(--bs-gray-100);
  background-clip: padding-box;
  border: 0;
  border-radius: 0.4rem;
  box-shadow: 0rem 0rem 1.25rem rgba(30, 34, 40, 0.04);
  transition: 0.2s ease all;
}

.contact__form-field label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0.6rem 1rem;
  color: var(--bs-gray-500);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  pointer-events: none;
  border: 1px solid transparent;
  transform-origin: 0 0;
  transition: 0.2s ease all;
}

.contact__form-field input:valid ~ label,
.contact__form-field input:focus ~ label,
.contact__form-field textarea:valid ~ label,
.contact__form-field textarea:focus ~ label {
  color: var(--bs-gray-500);
  transform: scale(0.8) translateY(-0.8rem) translateX(0.2rem);
}

.contact__form-field textarea:valid ~ label,
.contact__form-field textarea:focus ~ label {
  color: var(--bs-gray-500);
  transform: scale(0.8) translateY(-0.8rem) translateX(0.2rem);
}

.contact__submit-button {
  margin-top: var(--m-1-5);
  margin-bottom: var(--m-0-75);
  color: var(--bs-blue);
  background-color: transparent;
  border: 2px solid var(--bs-blue);
}
.contact__submit-button:hover {
  color: var(--bs-white);
  background-color: var(--bs-blue);
}

/*==================== FOOTER ====================*/
.footer {
  padding: 2rem 0;
  background-color: var(--bs-gray-800);
  color: var(--bs-gray-300);
  font-size: var(--fs-h3);
  font-weight: var(--fw-300);
  line-height: 1.7;
}

.footer__container {
  padding: 0 2.5rem;
}

.footer__row {
  padding-bottom: 1rem;
}

.footer__logo {
  margin-bottom: var(--m-1-5);
}

.footer__text {
  margin-bottom: var(--m-1);
}
.footer__text a:not(.btn):not([class*=link-]) {
  color: var(--bs-gray-300);
}

.footer__flex {
  display: flex;
  flex-direction: row;
  column-gap: 0.75rem;
}

.footer__flex-child {
  width: 100%;
}

.footer__icon {
  flex-shrink: 3;
  text-align: center;
}

.footer__icon img {
  margin-top: 0.5rem;
}

.footer__contact-information {
  width: 100%;
}

.footer__contact-information h4 {
  margin-bottom: var(--m-0-5);
  color: var(--bs-gray-300);
  font-weight: var(--fw-500);
}

.footer__contact-information p {
  font-size:var(--fs-h4);
  line-height: 1.3;
}
.footer__contact-information p a:not(.btn):not([class*=link-]) {
  color: var(--bs-gray-300);
}

.footer__horizontal-line {
  margin: 2rem 0 2.5rem;
  color: rgba(164, 174, 198, 0.2);
  border: 0;
  border-top: 1px solid;
  opacity: 1;
}

.footer__copyright {
  align-items: center;
  justify-content: space-between;
}

.footer__copyright p {
  font-size: var(--fs-h4);
}

.footer__socials-icon {
  margin-right: 1rem;
}

/*==================== MEDIA QUERIES ====================*/
@media screen and (min-width: 768px) {
  aside {
    width: 20rem;
  }

  .container {
    padding: 2rem 1rem 0 1rem;
  }

  .navbar__phone-button {
    display: block;
  }

  .home__background-img {
    background-image: url("/assets/img/photos/plumbing-hero-blueprint-1280w.JPG");
  }

  .home__container {
    padding: 0 7rem;
  }
  
  .about__flex {
    line-height: 1.3;
  }

  .about__bullet {
    text-align: center;
  }

  .about__dots, .about__img-1 {
    display: block;
  }

  .about__img-2 {
    width: 80%;
    margin-top: -45%;
  }

  .services__column {
    flex: 0 0 auto;
    width: 50%;
    padding: 0 1rem;
  }

  .services__subtitle {
    padding: 0 7rem;
  }

  .process__column {
    flex: 0 0 auto;
    width: 50%;
    padding: 0 1rem;
  }

  .faq__accordion-wrapper {
    padding: 1.5rem 1rem 0.5rem 1rem;
  }

  .faq__accordion-label {
    padding-left: 2rem; 
  }

  .faq__accordion-label:before {
    left: 4rem;
  }

  .blog {
    padding: 4rem;
  }

  .blog__column {
    flex: 0 0 auto;
    width: 50%;
    padding: 0 1rem;
  }

  .blog__img-hidden {
    display: block;
  }

  .contact__card {
    padding: 4rem;
  }

  .contact__form-field textarea {
    height: 12rem;
  }

  .footer__container {
    padding: 2rem 6rem 0 6rem;
  }

  .footer__icon {
    flex-shrink: 6;
  }
}

/* For small devices */
/* @media screen and (max-width: 279px) {
  .container {
    margin-left: var(--m-1);
    margin-right: var(--m-1);
  }

  .nav__menu {
    padding: 2rem 0.25rem 4rem;
  }
  .nav__list {
    column-gap: 0;
  }

  .home__content {
    grid-template-columns: 0.25fr 3fr;
  }
  .home__blob {
    width: 180px;
  }

  .skills__title {
    font-size: var(--fs-h4);
  }

  .qualification__data {
    gap: 0.5rem;
  }

  .services__container {
    grid-template-columns: max-content;
    justify-content: center;
  }
  .services__content {
    padding-right: 3.5rem;
  }
  .services__modal {
    padding: 0 0.5rem;
  }

  .project__img {
    width: 200px;
  }

  .testimonial__data,
  .testimonial__header {
    flex-direction: column;
    align-items: center;
  }
  .testimonial__img {
    margin-right: 0;
    margin-bottom: var(--m-0-25);
  }
  .testimonial__data,
  .testimonial__description {
    text-align: center;
  }
}

@media screen and (min-width: 320px) {
  .services__title {
    font-size: var(--fs-h2);
  }
  .services__description {
    font-size: var(--fs-h2);
  }
  
  .qualifiers {
      margin-top: 0rem;
  }
  .qualifiers__img {
      top: 1rem;
  }

  .thankyou__subdescription {
    font-size: var(--smaller-font-size);
  }
  .thankyou__subsubdescription {
    font-size: var(--smaller-font-size);
  }
}

@media screen and (min-width: 350px) {
  .qualifiers {
      margin-top: 1rem;
  }

  .qualifiers__container {
    padding-top: 12rem;
  }
  
  .qualifiers__img {
      top: 2rem;
  }

  .project__description {
    font-size: var(--fs-h3);
  }
}

@media screen and (min-width: 375px) {
  .portfolio__data {
    font-size: var(--h1-font-size);
  }

  .services__description {
    font-size: var(--h1-font-size);
  }
  .services__title {
    font-size: var(--h1-font-size);
  }

  .qualifiers {
      margin-top: 3rem;
  }

  .qualifiers__container {
    padding-top: 13rem;
  }
  
  .qualifiers__img {
      top: 1rem;
  }

  .thankyou__bubble {
    margin: 2rem 3rem 0 3rem;
  }
}

@media screen and (min-width: 420px) {
  .qualifiers {
      margin-top: 6rem;
  }
  
  .qualifiers__img {
      top: 0rem;
  }
}

@media screen and (min-width: 425px) {
  .testimonial__container {
    margin-left: auto;
    margin-right: auto;
  }
  .testimonial__header {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  .testimonial__description {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  .testimonial__img {
    margin-left: 1rem;
  }
  .testimonial__info {
    margin-right: 1.5rem;
  }

  .contact__container {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 475px) {
  .qualifiers {
      margin-top: 10rem;
  }
  .qualifiers__container {
    padding-top: 15rem;
  }
  .qualifiers__img {
      top: -1rem;
  }

  .thankyou__bubble {
    margin: 2rem 4rem 0 4rem;
  }
  .thankyou__container {
    max-width: 425px;
    margin-left: auto;
    margin-right: auto;
  }
} */

/* @media screen and (min-width: 540px) {
  .portfolio__data {
    font-size: var(--fs-h3);
  }

  .thankyou__bubble {
    margin: 2rem 5rem 0 5rem;
  }
  .thankyou__container {
    max-width: 460px;
  }
} */




/* @media screen and (min-width: 568px) {
  .home__content {
    grid-template-columns: max-content 1fr 1fr;
  }
  .home__data {
    grid-column: initial;
  }
  .home__img {
    order: 0;
    justify-self: center;
  }

  .about__container,
  .skills__container,
  .contact__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .project__data {
    padding: 0 2rem 0 2rem;
  }

  .qualification__sections {
    display: grid;
    grid-template-columns: 0.6fr;
    justify-content: center;
  }

  .qualifiers {
    margin-top: -15rem;
  }
  .qualifiers__img {
      z-index: 9;
      position: relative;
      top: 15rem;
  }
  .qualifiers__img-img {
      display: block;
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
  }
  .qualifiers__container {
    padding-top: 18rem;
    margin-left: auto;
    margin-right: auto;
  }
  .qualifiers__title {
    font-size: var(--big-font-size);
  }
  .qualifiers__list-item {
    font-size: var(--fs-h3);
  }

  .contact__container {
    max-width: 800px;
    padding: 0 2rem;
  }
  .contact__description {
    margin-bottom: 1.5rem;
  }

  .footer__bg {
    padding: 3rem 2rem 2rem;
  }
  .footer__links {
    grid-template-columns: repeat(2, 200px);
  }
}

@media screen and (min-width: 690px) {
  .services__container {
    grid-template-columns: repeat(2, 318px);
    margin-left: auto;
    margin-right: auto;
    max-width: 690px
  }
  .services__hidden {
    display: none;
  }
  .services__title {
    font-size: var(--h1-font-size);
  }

  .qualifiers {
    margin-top: -18rem;
  }
  .qualifiers__container {
    padding-top: 21rem;
  }
  .qualifiers__img {
    top: 18rem;
  }

  .contact__description {
    margin-right: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  body {
    margin: 0;
  }

  .section {
    padding: 6rem 0 2rem;
  }
  .section__subtitle {
    margin-bottom: 4rem;
  }

  .header {
    top: 0;
    bottom: initial;
  }

  .header{
    padding: 0 1rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 1rem;
  }
  .nav__icon,
  .nav__close,
  .nav__toggle {
    display: none;
  }
  .nav__list {
    display: flex;
    column-gap: 2rem;
  }
  .nav__menu {
    margin-left: auto;
    margin-right: 4rem;
  }
  .change-theme {
    margin: 0;
  }
  .nav__logo {
    margin-left: 1rem;
  }

  .home__container {
    display: grid;
    row-gap: 5rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .home__content {
    padding-top: 5.5rem;
    margin-left: 3rem;
    column-gap: 2rem;
  }
  .home__scroll {
    display: block;
    margin-top: 3rem;
  }
  .home__scroll-button {
    margin-left: 3rem;
  }

  .home__img {
    order: 1;
    justify-self: center;
    margin-top: auto;
    margin-bottom: auto;
    width: 350px;
    max-width: 600px;
  }
  .home__img img {
    object-fit: cover;
    width: 100%;
  }

  .about__container {
    column-gap: 5rem;
  }
  .about__img {
    width: 350px;
  }
  .about__description {
    text-align: initial;
  }
  .about__info {
    justify-content: space-between;
  }
  .about__buttons {
    justify-content: initial;
  }

  .qualification__tabs {
    justify-content: center;
  }
  .qualification__button {
    margin: 0 var(--m-1);
  }
  .qualification__sections {
    grid-template-columns: 0.5fr;
  }

  .services__icon {
    font-size: 2rem;
  }
 
  .services__modal-content {
    width: 450px;
  }

  .portfolio__content {
    align-items: center;
  }
  .portfolio__data {
    top: 0;
    font-size: var(--h1-font-size);
  }

  .process__card {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
  }

  .project__description {
    font-size: var(--fs-h2);
  }

  .testimonial__container {
    max-width: 850px;
    padding: 0 2rem;
  }  
  .testimonial__header {
    max-width: 700px;
  }
  .testimonial__description {
    max-width: 700px;
  }

  .contact__description {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .thankyou__bubble {
    margin: 2rem 6rem 0 6rem;
  }

  .footer__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer__bg {
    padding: 3rem 4rem 3.5rem;
  }
  .footer__links {
    flex-direction: row;
    column-gap: 2rem;
  }
  .footer__socials {
    justify-self: flex-end;
  }
  .footer__copy {
    margin-top: 4.5rem;
  }

  .bav {
    display: none;
  }
} */


/* @media screen and (min-width: 968px) {

  .home__title {
    font-size: var(--h1-font-size);
  }

  .services__title {
    font-size: var(--fs-h2);
  }
  .services__description {
    font-size: var(--fs-h2);
  }

  .qualifiers {
    margin-top: -25rem;
    display: grid;
    row-gap: 5rem;
    grid-template-columns: repeat(1, 1fr);
  }
  .qualifiers__container {
    padding-top: 2rem;
    padding-left: 42%;
    margin-left: 10%;
    margin-right: 5%;
    max-width: 100%;
  }
  .qualifiers__img {
    top: 170%;
    left: -25%;
    position: relative;
    justify-self: center;
    margin-top: 0rem;
    margin-right: 0rem;
  }
  .qualifiers__img img {
    width: auto;
    max-width: 40%;
    height: auto;
    margin: auto;
  }
  .qualifiers__title {
    font-size: var(--fs-h2);
  }

  .thankyou__title {
    font-size: var(--h1-font-size);
  }

  .footer__container {
    max-width: 800px;
  }
  .footer__title {
    font-size: var(--h1-font-size);
  }
}

@media screen and (min-width: 1004px) {
  .qualifiers__img {
    top: 150%;
  }
}

@media screen and (min-width: 1016px) {
  .services__container {
    grid-template-columns: repeat(3, 318px);
  }
  .services__hidden {
    display: block;
  }
} */

/* For large devices */
/* @media screen and (min-width: 1024px) {
  .header,
  .main,
  .footer__container {
    padding: 0;
  }

  .home__img {
    margin-right: 8rem;
  }

  .home__blob {
    width: 400px;
  }
  .home_social {
    transform: translateX(-6rem);
  }

  .portfolio__data {
    font-size: var(--fs-h2);
  }
  .portfolio__content {
    column-gap: 5rem;
  }
  .swiper-portfolio-icon {
    font-size: 3.5rem;
  }
  .swiper-button-prev {
    left: -3.5rem;
  }
  .swiper-button-next {
    right: -3.5rem;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: -4.5rem;
  }

  .qualifiers__img {
    top: 165%;
  }
  .qualifiers__title {
    font-size: var(--h1-font-size);
  }
  .qualifiers__container {
    padding-bottom: 4rem;
  }

  .process__card {
    margin: 0 0.5rem;
  }
  .process__data {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas: 
    "title title title title"
    "subtitle subtitle subtitle subtitle"
    "first second third fourth"
  }
  .process__title {
    grid-area: title;
  }
  .process__subtitle {
    grid-area: subtitle;
  }
  .process__card-first {
    grid-area: first;
  }
  .process__card-second {
    grid-area: second;
  }
  .process__card-third {
    grid-area: third;
  }
  .process__card-fourth {
    grid-area: fourth;
  }

  .contact__form {
    width: 460px;
  }
  .contact__inputs {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1060px) {
  .qualifiers__img {
    top: 153%;
  }
}

@media screen and (min-width: 1210px) {
  .home__title {
    font-size: var(--big-font-size);
  }
  .home__img {
    width: 450px;
  }
}

@media screen and (min-width: 1212px) {
  .qualifiers__container {
    margin-left: 15%;
    padding-left: 27rem;
  }
}

@media screen and (min-width: 1297px) {
  .qualifiers__img {
    top: 140%;
  }
}


@media screen and (min-width: 1440px) {

  .portfolio__container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }
  .portfolio__data {
    font-size: var(--fs-h3);
  }

  .qualifiers__img {
    top: 31.5rem;
    left: -25rem;
  }
  .qualifiers__container {
    padding-top: 5rem;
    padding-left: 25rem;
    padding-bottom: 5rem;
    margin-left: 14rem;
    margin-right: 3rem;
    max-width: 1200px;
  }
  .qualifiers {
    justify-items: center;
  }
  .qualifiers__list-item {
    font-size: var(--fs-h2);
  }
} */